.boton-1{ 
    background-color: rgb(43, 110, 255);
} 
.boton-2{ 
    background-color: rgb(167, 255, 226);
} 
.boton-3{ 
    background-color: rgb(196, 73, 73);
} 
.image{ 
    padding-bottom: 10px; 
    max-width: 100%;
} 
.cora{ 
   margin-left: 5px; 
   border-radius: 10px; 
   background-color:#d85555;

} 
.bi-heart{ 
    padding: 3px; 
    stroke: black; 
    stroke-width: 0.5px;
} 

.dropdown{ 
    padding-right: 20px; 
    
} 
.quitar{ 
    margin-left: 30px;
} 
.Carta{   
    margin: 20px; 
    border-radius: 20px;      
    border:2px solid #818181;   
   
    

} 
.Container{   
   border-radius: 10px;
    display: inline-block; 
    margin-left: 450px; 
    
} 
.tarjeta{ 
    
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    padding: 10px; 
    border-top: 2px solid #ff6464;   
    margin-top: 5px;   

} 
.Cuerpo{ 
    display: flex; 
    padding: 16px; 
} 
.Parrafo{ 
    padding-top: 50px; 
    padding-left: 20px;
} 
.titulo{ 
   text-align: center; 
   padding-bottom: 70px;
}  
.foto{ 
    margin-top: 170px; 

}

